body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.traffic-light {
    width: 100px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: left;
    border: 2px solid #000;
    background: #333;
    border-radius: 10px;
    overflow: hidden;
}

.light {
    width: 80px;
    height: 80px;
    margin: 10px;
    border-radius: 50%;
    background: #777;
    transition: background 0.5s;
}

.red {
    background: red;
    animation: flashRed 1s ease-in-out infinite;
    animation-delay: 4s;
    animation-iteration-count: 4;
}

.yellow {
    background: yellow;
    animation: flashYellow 1s ease-in-out infinite;
    animation-delay: 0s;
    animation-iteration-count: 4;
}

.green {

    background: green;
    animation: flashGreen 1s ease-in-out infinite;
    animation-delay: 8s;
    animation-iteration-count: 4;
}





@keyframes flashYellow {

    0%,
    100% {
        background: yellow;
    }

    50% {
        background: #777;
    }
}

@keyframes flashRed {



    0%,
    100% {
        background: red;
    }

    50% {
        background: #777;
    }
}

@keyframes flashGreen {

    0%,
    100% {
        background: rgb(37, 207, 15);
    }

    50% {
        background: #777;
    }
}